
h1 {
	font-family: Comic Sans MS, Verdana, sans-serif;
	font-weight: bold;
	color: white;
	background-color: teal;
}

#skills li {
	font-size: 18px;
}

a:link{
	text-decoration: none;
}

a:visited {
	
}

a:hover {
	color: blue;
	text-decoration: underline;
}

#java h1 {
	background-color: orange;
}

#C h1 {
	background-color: blue;
}

#Python h1 {
	background-color: red;
}

#Website h1 {
	background-color: green;